.cover {
    height: 100vh;
  }
  
  .row-margin {
    margin: 4vh auto;
  }
  
  body {
    background: #97975bb5 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, hsl(0, 5%, 79%), hsl(51, 28%, 91%));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, hsl(0, 100%, 94%), hsl(60, 5%, 89%));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .header {
    color: #fff;
  }
  
  h1 {
    font-family: "Pacifico";
  }
  
  .btn-default {
    background-color: rgb(224, 206, 206) !important;
    border-color: black !important;
    color: #070202;
    font-weight: bold;
    text-transform: uppercase;
  }
  .alert-success{
    color: green;
  }
  .alert-danger{
    color: red;
  }